<div class="cards-container">
  <p-card *ngFor="let movie of moviesList; trackBy: trackById"
          [header]="movie.titulo"
          [style]="{ width: '360px' }"
          class="m-2">
    <!--
    <ng-template pTemplate="header">

      <img 
        [src]="movie.imagen || 'https://primefaces.org/cdn/primeng/images/card-ng.jpg'" 
        alt="Imagen de película" 
        style="width: 100%; height: 200px; object-fit: cover;"
      />
    </ng-template>
    
    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    -->

    <ng-template pTemplate="header">
      <img 
        [src]="movie.imagenPequena || 'https://k8s-lia.unrn.edu.ar/grupo02/1_LARGE'" 
        alt="Imagen de película" 
        style="width: 100%; height: 100%; object-fit: cover;"
      />
    </ng-template>

    <p>
      Sinopsis: {{ movie.sinopsis }}
    </p>
    <p>
      Fecha de salida: {{ movie.fechaSalida }} 
    </p>
    <p>
      Precio: {{ movie.precio }}
    </p>

    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        
      </div>
    </ng-template>
  </p-card>
</div>


